In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re

In [22]:
df = pd.read_csv('E:\coding\python\intel\HSProject\data\dataset1.csv', encoding='latin-1',header=None, names=['label','id','date','query','author','text'])

In [28]:
df.head()

,label,id,date,query,author,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"http://twitpic.com/2y1zl - Awww, that's a bum..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,I dived many times for the ball. Managed to s...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"no, it's not behaving at all. i'm mad. why am..."

In [24]:
df.shape

(1600000, 6)

In [27]:
pattern = '@\w+'
df['text']=df['text'].apply(lambda x: re.sub(pattern, '', x))

In [ ]:
df = df.drop(['id', 'date', 'query', 'author'], axis=1)